block content
  link(rel='stylesheet', href='/stylesheets/aboutus.css')
  .outer
    .middle
      .inner
        img(src="images/what.png").what
      .explanation_video
      .explanation_text
        br
        br
        p HoneyPot is an informal rotating savings club, where a group of people get together and contribute an equal amount of money into a fund weekly, bi-weekly or monthly. The total pool, also known as a hand, is then paid to one member of the club on a previously agreed-on schedule. The pool rotates until all members have received their share.
      .the_team
        img(src="images/team.png")#our_team
        .teampics
          .tpdiv#n
            a(href="http://naturalcarr.com")
              img(src="images/n.png")
              p#desc Natural C.
          .tpdiv#r
            a(href="https://devcardo.github.io")
              img(src="images/r.png")
              p#desc Ricardo C.
          .tpdiv#b
            a(href="https://github.com/bilikis")
              img(src="images/b.png")
              p#desc Bilikis S.
        .team_text