extends layout

block content
    link(rel='stylesheet', href='/stylesheets/registration.css')
    .outer
        .middle
            .inner
                .logo
                .regformdiv#regform
                    form(class="regform" method="POST" action='/register')
                        h1 Registration
                        //span &nbsp;
                        input(class="regfield" type="text" placeholder="First Name" name="firstname" id="firstname")
                        br
                        //span &nbsp;
                        input(class="regfield" type="text" placeholder="Last Name" name="lastname" id="lastname")
                        br
                        //span &nbsp;&nbsp;
                        input(class="regfield" type="text" placeholder="Username" name="username" id="username")
                        br
                        //span &nbsp;
                        input(class="regfield" type="password" placeholder="Password" name="password" id="password")
                        br
                        //span &nbsp;
                        input(class="regfield" type="text" placeholder="Email Address" name="email" id="email")
                        br
                        //span &nbsp;
                        input(class="submit" type="submit" value="Register" name="register")