body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/bg.jpg");
}






/**********************************\
Registration Box Centering
\**********************************/
.outer {
  display: table;
  position: absolute;
  height: 80%;
  width: 95%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*whatever width you want*/
}

/**********************************\
Registration Formatting
\**********************************/
.regform{
  margin: auto;
  text-align: center;
  width: 100%;
  color: white;
}

#username{
  margin-left: -3px;
}
.regform span{
  border: 0px;
  padding: 15px;

}
.regform input {
  width: 12.5%;
  margin: auto;
  padding: 15px;
  border: 0px;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

/**********************************\
Registration Coloring
\**********************************/
.regform input[type=text]{
  background-color: #ffd800;
}
.regform input[type=password]{
  background-color: #ffd800;
}

.regform input:focus {
  outline: none;
  background-color: #ffa72d;
}

